<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infoContainer">
    <ion-spinner *ngIf="examplesLoading$ | async; else examplesCallEnded"></ion-spinner>
    <ng-template #examplesCallEnded>
      <ion-label *ngIf="examplesError$ | async; else exampleData">An error occured during example data retrieve</ion-label>

      <ng-template #exampleData>
        <ion-list>
          <ion-item *ngFor="let example of examples$ | async">
            <ion-label>
              <div>{{example.title}}</div>
              <div>{{example.subtitle}}</div>
              <div>{{example.date | date: 'dd/MM/yyyy'}}</div>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-button (click)="getTests()">
          Retrieve tests
        </ion-button>
      </ng-template>
    </ng-template>
  </div>

  <div class="infoContainer">
    <ion-spinner *ngIf="testDataLoading$ | async; else testCallEnded"></ion-spinner>
    <ng-template #testCallEnded>
      <ion-label *ngIf="testDataError$ | async; else testData">An error occured during test data retrieve</ion-label>
  
      <ng-template #testData>
        <ion-list>
          <ion-item *ngFor="let test of testData$ | async">
            <ion-label>
              <div>{{test.title}}</div>
              <div>{{test.date | date: 'dd/MM/yyyy'}}</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ng-template>
  </div>
</ion-content>