.infoContainer {
  margin-bottom: 20px;
}

.fillButton {
  width: 40px !important;
  height: 40px !important;
  --border-radius: 20px !important;

  ion-icon {
    color: rgb(216, 216, 0);
    font-size: 22px !important;
  }
}